/*All Css*/


body {
	background:#fff;
	font:normal 12px/22px 宋体;
}

/*Panel*/
.panel {
	border-width:2px;
}
.panel-heading{
	padding:4px 5px;
	text-align:center;
}
.panel-heading span{
	font-size:15px;
	font-weight:bold;
}
.panel-heading em{
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}


/*Slide*/  
 .slide-menu * {
	margin:0;
	padding:0;
	list-style:none;
	
} 
 .slide-menu a {
	text-decoration:none;
	color:#333;
}
 .slide-menu a:hover {
	color:#1974A1;
	text-decoration:underline;
}
.slide-list {
	position:relative;
	z-index:1;
	width:260px; 
}
.slide-list  >li{
	border-bottom-style:dashed;
	border-bottom-width:1px;
	border-bottom-color:#ddd; 
}
.slide-list  > li:last-child{
	border-bottom-style:dashed;
	border-bottom-width:0px;
	border-bottom-color:#ddd;
}
.slide-list  .slide-item-title {
	position:relative;
	padding:10px 20px;
	zoom:1;
}
 
 
.slide-list  h3 {
	height:28px;
	line-height:28px;
	font-size:16px;
	overflow:hidden;
	margin:0px;
	font-weight: bold;
}
.slide-list  h3 span {
	width:18px;
	height:15px;
	line-height:32px;
	font-weight:200;
	font-size:12px;
	float:right;
}
.slide-list  p {
	height:20px;
	line-height:20px;
	margin:0px;
}
.slide-list  p a {
	margin-right:10px;
	color:#666;
}
.slide-list  .slide-item-detail {
	display:none; 
	position:absolute;
	left:260px; 
	top:0;
	width:750px;
	padding:0 0 20px 20px;
	color:#333;
	border-style:double;
	border-width:2px;
	border-left:none;  
	border-color:#428bca;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    
}
.slide-list  .slide-item-detail h4 {
	height:26px;
	line-height:26px;
	margin:0 0 10px 0;
	border-bottom:1px solid #ccc;
	font-size:16px;
	color:#333;
	font-weight: bold;
}
.slide-list  .slide-item-detail .ul-full {
	width:100%;
	float:left;
	overflow:hidden;
	padding-top:20px;
	margin-right:5px;
}
.slide-list  .slide-item-detail .ul-full li {
	width:230px;
	float:left;
	display:inline;
}
.slide-list  .slide-item-detail .ul-full li a {
	display:block;
	float:left;
	padding:0 5px;
	line-height:25px;
	color:#666;
	word-break:keep-all;
	white-space:nowrap;
}

.slide-list  .slide-item-detail .ul-230 {
	width:230px;
	float:left;
	overflow:hidden;
	padding-top:20px;
	margin-right:5px;
}
.slide-list  .slide-item-detail .ul-230 li {
	width:230px;
	float:left;
	display:inline;
}
.slide-list  .slide-item-detail .ul-230 li a {
	display:block;
	float:left;
	padding:0 5px;
	line-height:25px;
	color:#666;
	word-break:keep-all;
	white-space:nowrap;
}
 
.slide-list .on {
	background:#F1F1F1;
	/*color:#fff;*/
} 
.slide-list .on h3 a,.slide-list .on p a {
	/*color:#fff;*/
}
.slide-list .on .slide-item-detail {
	display:block !important;
} 

#slide-item-title-2 .slide-item-detail {
	top:0px;
}
#slide-item-title-3 .slide-item-detail {
	top:0px; 
}
#slide-item-title-4 .slide-item-detail {
	top:-100px
}
#slide-item-title-5 .slide-item-detail {
	top:-200px;
}
#slide-item-title-6 .slide-item-detail {
	top:auto;
	bottom:0;
} 
 
 
